<a href="/reviews">
  <h1>pitched</h1>
  <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
</a>
<a href="/reviews/new">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</a>
