body {
  width: 915px;
  margin: auto;
  /*border: 1px solid red;*/
}

h3 {
  font-weight: normal;
}

nav {
  margin: 30px 0 0 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 0 2.5px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

a:hover {
  text-decoration: none;
  color: #7f7f7f;
}

.glyphicon-plus {
  font-size: 25px;
  margin-right: 5px;
}

.jumbotron > h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.jumbotron {
  width: 605px;
  height: 300px;
  padding: 0 10px;
  margin: 0 2.5px 0 2.5px;
  box-sizing: border-box;
}

.jumbotron a {
  padding-right: 10px;
}

.index-link {
  padding: 0 10px;
}

.index-card {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

.index-card > a {
  width: 100%;
  height: 100%;
}

.img-index {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 15;
}

.img-index:hover {
  opacity: .8;
}

.img-text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 20;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden;
}

.row-1, .row-2, .row-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.row-3 {
  margin-bottom: 0;
}

.add-review {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-review h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.img-show {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover !important;
}

.show-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submitted-by {
  margin-bottom: 10px;
}

.submitted-by > a {
  display: inline-block;
  text-decoration: underline;
}

.review {
    font-size: 18px;
}

.glyphicon-star {
  color: #FEB13D;
  font-size: 22px;
}

.glyphicon-tent {
  font-size: 24px;
  margin-left: 5px;
}

.show-nav {
  margin: 30px 0 0 0;
}

.alt-nav {
  margin: 0 0 35px 0;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  /*border: 1px red solid;*/
}

.alt-nav > div {
  display: flex;
  flex-direction: row;
}


.alt-nav > h2 {
  margin: 5px 0 30px 0;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.alt-nav > a {
  padding: 0 2.5px;
}

.alt-index-nav {
  margin: 0 0 35px 0;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2.5px;
  align-items: baseline;
  /*border: 1px solid red;*/
}

.alt-index-nav  > div {
  margin: 0;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*border: 1px solid red;*/
}

.alt-index-title {
  margin: 0;
  padding: 0 2.5px;
  font-size: 32px;
  /*border: 1px solid red;*/
}

.edit-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.edit-row .img-index:hover {
  opacity: 1;
}

.delete {
  border: none;
  background-color: none;
  padding: 0;
}

.alt-nav .delete:hover {
  color: #7f7f7f;
}

.submit {
  border: 1px solid black;
  background-color: none;
  color: black;
}

.comment-section {
  margin-bottom: 20px;
}

#preview > img {
  padding: 10px 10px 0 0;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.alt-index {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 915px;
  margin: auto;
  /*border: 1px solid red;*/
}

.index-card {
  box-sizing: border-box;
  margin: 0 2.5px 5px 2.5px;
}

.end-link {
  padding: 0 0 0 10px;
}

.start-link {
  padding: 0 10px 0 0;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.show {
  padding-left: 12px;
  /*border: 1px solid red;*/
}

.glyphicon-remove {
  color: #cccccc;
}

.show-comments {
  margin-bottom: 30px;
}

.comment button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2.5px 0 0 5px;
}

.form-group {
  padding-left: 2.5px;
  /*background-color: azure;*/
}

.login-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 5000;
  background-color: rgba(0,0,0,.4);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.login {
  text-align:left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: column;
  width:800px;
  margin: 350px auto;
  background-color: #fff;
  border:1px solid #cccccc;
  padding:15px;
  border-radius: 15px;
  /*border: 1px red solid;*/
  text-align:right;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.login > form {
  width: 400px;
  display: flex;
  justify-content: center;
}

.login-form {
  width: 90%;
  margin-bottom: 10px;
}

.login-message {
  color: #b20000;
}

.border {
  border-left: 1px solid #cccccc;
  padding-left: 15px;
}

.login h2 {
  padding: 0;
}

.login input {
  margin: 20px 0 0 0;
}

footer {
  margin: 30px 0;
  border-top: 1px solid black;
  /*border: 1px red solid;*/
}
