<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <div class="alt-index">

        <div class="jumbotron">
          <h1>Get inspired &amp; camp out</h1>
          <h3>Ratings and reviews of campsites added by users like you</h3>
          <h2>
            <a href="/reviews/rv">RV</a> |
            <a class="index-link" href="/reviews/car">Car</a> |
            <a class="index-link" href="/reviews/tent">Tent</a>
          </h2>
        </div>

        <% allReviews.forEach(function (review) { %>
          <div class="index-card">
            <a href="/reviews/<%= review.id %>">
              <img class="img-index" src="<%= review.img[0] %>"/>
              <div class="img-text"><%= review.location %></div>
            </a>
          </div>
        <% }) %>



        <div class="jumbotron add-review">
          <a href="/reviews/new" >
            <h2>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <div class="index-link">Add a review</div>
            </h2>
          </a>
        </div>

      </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>
