<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <div class="content new-edit">

      

      <div>
        <div>state/park: </div>
        <input type="text"/>
      </div>

      <div>
        <div>campsite: </div>
        <input type="text" placeholder="optional"/>
      </div>

      <div>
        <div>state/park: </div>
        <input type="text"/>
      </div>

      <div>
        <div>type: </div>
        <input type="text"/>
      </div>

      <div>
        <div>review: </div>
        <input type="text"/>
      </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>
