<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <div class="alt-nav">
      <% if (username) { %>
        <div>
          <a class="start-link" href="/reviews/user/<%= username %>"><%= username %></a> |
          <a class="index-link" href="/user/logout">log out</a>
        </div>
      <% }
      else { %>
        <a class="start-link" href="/user/login">log in</a>
      <% } %>

      <div>
        <a class="index-link" href="/reviews/rv">RV</a> |
        <a class="index-link" href="/reviews/car">Car</a> |
        <a class="end-link" href="/reviews/tent">Tent</a>
      </div>
    </div>

    <div class="content new-edit">

      <form action="/reviews" method="post">

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #1</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #2</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #3</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlInput1">state/park</label>
          <div class="col-sm-10">
            <input type="text" name="location" class="form-control" id="exampleFormControlInput1">
          </div>
        </div>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlInput1">campsite</label>
          <div class="col-sm-10">
            <input type="text" name="site" class="form-control" id="exampleFormControlInput1" placeholder="optional">
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlSelect1">campsite type</label>
          <div class="col-sm-10">

            <select class="form-control" name="type" id="exampleFormControlSelect1">
              <option>RV</option>
              <option>Car</option>
              <option>Tent</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlSelect1">rating</label>
          <div class="col-sm-10">

            <select class="form-control" name="rating" type="number" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlTextarea1">review</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="review" id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
        </div>

        <input type="hidden" name="submitter" value="<%= username %>"/>

        <input type="submit" class="btn submit btn-lg" value="submit" >

      </form>

    <% include ../partials/footer.ejs %>
  </body>
</html>
